*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

html{
	font-size: 62.5%;
}

a{
    text-decoration: none;
}

header{
    padding: 20px 100px;
    background-color: #0F3460;
    font-size: 1.4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
        "contacto navegacion";
}

.section-contacto{
    grid-area: contacto;
}

.section-contacto img{
    width: 20px;
    height: 20px;
}

header a{
    color:white;
}

.select-nav{
    color: white;
    background: #0F3460;
    border: #0F3460;
    grid-area: navegacion;
}

.section-contacto figure, img, figcaption{
    display: inline-block;
    margin-left: 5px;
}

.section-nav ul li{
    display: inline-block;
}

.nav-header{
    display: grid;
    justify-content: end;
}