*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer foooter footer";
}

html{
	font-size: 62.5%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;  
}

header{
    padding: 20px 100px;
    background-color: #0F3460;
    font-size: 1.4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas:
        "contacto navegacion";
}

.section-contacto{
    grid-area: contacto;
}

.section-contacto img{
    width: 20px;
    height: 20px;
}

header a{
    color:white;
}

.select-nav{
    color: white;
    background: #0F3460;
    border: #0F3460;
    grid-area: navegacion;
}

.figure-contacto, .figcaption-contacto{
    display: inline-block;
    margin-left: 5px;
}

.section-nav ul li{
    display: inline-block;
}

.nav-header{
    display: grid;
    justify-content: end;
}

/****** MAIN ******/
main{
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 380px auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "search search search"
        "mural mural mural"
        "aside promocianal promocianal"
        "aside productos productos";
}

.separacion-lr{
    margin: 10px 100px;
}

.sect-main-search{
    grid-area: search;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logoB search userBuy"
        "categoria nav nav";
    gap: 20px 5px;
}

/****** Seccion Search ******/

.logo{
    grid-area: logoB;
    font-size: 3rem;
    font-family: cursive;
    color: #0F3460;
    margin: auto 0;
}

main .main-input{
    grid-area: search;
    margin: auto 0;
}

main .main-input-container{
    width: 425px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: grid;
    grid-template-areas: "auto auto auto";
    align-items: center;
}

main .main-input input{
    width: 320px;
    height: 35px;
    border: none;
    outline: none;
}

main .main-input .search-icon{
    background-image: url("./img/icon-buscador.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 18px;
}

.main-input-container button{
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    padding: 9px 14px;
    border-radius: 0 100px 100px 0;
    background: #4E97FD;
    border: 1px solid #3C74C2;
}

.icon-user-buy img{
    width: 30px;
    height: 30px;
}

.icon-user-buy{
    grid-area: userBuy;
    text-align: end;
}

/****** Seccion Selects ******/

.select-nav-categoria{
    border: 0;
    width: 140px;
    outline: none;
    background-color: transparent;
}

.div-categoria{
    width: 190px;
    background-color: #F6F9FC;
    grid-area: categoria;
    display: grid;
    grid-template-columns: 35px 130px;
    grid-template-rows: 100%;
    margin: auto 0;
    border-radius: 5px;
    padding: 5px;
}

.div-categoria img{
    width: 20px;
}

.nav-main{
    grid-area: nav;
    margin: auto 0;
}

.nav-ul-select{
    display: grid;
    grid-template-columns: 67px 100px 130px 60px 110px 120px;
    grid-template-rows: 100%;
    gap: 0 10px;
    justify-content: end;
}

.nav-ul-select select{
    background-color: transparent;
    outline: none;
}

.nav-ul-select select{
    border: 0;
    color: black;
}

/******* Seccion Mural *******/

.sect-mural{
    grid-area: mural;
    padding: 40px 100px;
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "Titulo img"
        "button img";
}

.sect-mural h1{
    grid-area: Titulo;
    font-size: 3rem;
    width: 300px;
    margin: 0 30px;
}

.sect-mural button{
    grid-area: button;
    width: 100px;
    height: 30px;
    background: #4E97FD;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}

.sect-mural img{
    grid-area: img;
    width: 400px;
    margin: 0 auto;
}

/****** Aside ******/

.aside-lista{
    position: sticky;
    top: 0;
    grid-area: aside;
    margin-left: 100px;
    margin-top: 10px;
}

.aside-categorias li{
    width: 250px;
    height: 35px;
    background-color: #F3f5f9;
    display: grid;
    grid-template-columns: 35px 200px;
    grid-template-rows: 100%;
    margin: auto 0;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    align-items: center;
}

.aside-lista select{
    outline: none;
    border: 0;
    background: transparent;
    font-size: 1.6rem;
}

.aside-lista ul li a{
    margin: auto 0;
    color: black;
}

.aside-lista ul li img{
    width: 20px;
}

.aside-categorias .background-azulClaro{
    background-color: #B8DEFE;
}

/******* Seccion Articulos *******/

.sect-articlesPromocionales{
    grid-area: promocianal;
    margin-right: 100px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 100px;
    grid-template-areas: 
        "enfermera cremas"
        "topProducts topProducts";
    gap: 0 30px;
}

.arti-enfermera{
    grid-area: enfermera;
    background-color: #efefef;
    border-radius: 20px;
    height: 216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.arti-enfermera div{
    background-color: #B8DEFE;
    border-radius: 20px 100px 100px 20px;
    text-align: center;
    padding: 50px;
}

.arti-enfermera img{
    height: 200px;
    margin: auto auto;
}

.arti-enfermera div img{
    width: 40px;
    height: 40px;
    margin-left: 0;
}

.arti-cremas{
    grid-area: cremas;
    background-color: #efefef;
    border-radius: 20px;
    height: 216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.arti-cremas img{
    width: 200px;
    margin: auto;
}

.arti-cremas div{
    margin: auto 20px;
    line-height: 30px;
}

.arti-cremas div button{
    width: 100px;
    height: 30px;
    background: #4E97FD;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.div-topProducts{
    grid-area: topProducts;
    line-height: 30px;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    align-content: center;
}

.div-topProducts div p{
    font-size: 1.4rem;
}

.div-topProducts select{
    width: 100px;
    height: 60px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.marginCentrado{
    margin: 0 auto;
}

.sect-ariclesProductos{
    position: relative;
    margin-right: 100px;
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "Vichy1 Bllue Sphygmomanometer" 
        "topProducts2 topProducts2 topProducts2"
        "Vichy2 brand fresh"
        "loadMore loadMore loadMore"
        "atenCliente atenCliente atenCliente";
}
.producto1{
    grid-area: Vichy1;
    position: relative;
}
.producto2{
    grid-area: Bllue;
}
.producto3{
    grid-area: Sphygmomanometer;
    position: relative;
}
.div-topProducts2{
    grid-area: topProducts2;
    line-height: 30px;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    align-content: center;
    margin-top: 50px;
}

.producto4{
    grid-area: Vichy2;
}

.producto5{
    grid-area: brand;
}

.producto6{
    grid-area: fresh;
}

.arti-productos{
    background-color: white;
    border: 2px solid #F9F9FB;
    width: 270px;
    height: 430px;
    border-radius: 10px;
    padding: 15px;
}

.arti-productos h4{
    background-color: #4E97FD;
    width: 50px;
    padding: 5px;
    border-radius: 0 15px 15px 0 ;
    font-size: 1rem;
    color: white;
}

.arti-productos figure img{
    width: 170px;
    height: 170px;
    margin: 45px 30px;
}

.rating img{
    display: inline-block;
    margin-top: 5px;
    width: 15px;
}

.rating p{
    display: inline-block;
}

.precio-venta, .precio-tachado{
    display: inline-block;
    margin: 5px 0;
}

.precio-venta{
    color:  #4E97FD;
}

.div-button button{
    background-color: #4E97FD;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.button-corazon img{
    width: 13px;
    height: 13px;
}

.button-add{
    width: 190px;
}

.arti-productos figure figcaption{
    border-top: 1px solid black;
    padding-top: 10px;
}

.div-topProducts2 div p{
    font-size: 1.4rem;
}

.div-topProducts2 select{
    width: 100px;
    height: 60px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.sect-buttonLoad{
    grid-area: loadMore;
    display: grid;
    justify-content: center;
}

.sect-buttonLoad button{
    background-color: #4E97FD;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin: 30px 0;
}

.sect-atencionCliente{
    width: 270px;
    padding: 30px 20px;
    border: 2px solid #F9F9FB;
    display: grid;
    grid-template-columns: 25% 75%;
    border-radius: 10px;
}

.sect-atencionCliente h3{
    color: #4E97FD;
}

.flechaL{
    position: absolute;
    bottom: 160px;
    left: -15px;
    cursor: pointer;
}

.flechaR{
    position: absolute;
    bottom: 160px;
    right: -15px;
    cursor: pointer;
}