.section-contacto , .section-nav{
    margin: 0 0;
    text-align: center;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "contacto"
        "navegacion";
}

.nav-header{
    margin-top: 10px;
    justify-content: center;
}