.section-contacto , .section-nav{
    margin: 0 0;
    text-align: center;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "contacto"
        "navegacion";
}

.nav-header{
    margin-top: 10px;
    justify-content: center;
}

/****** MAIN ******/

/****** Seccion Search ******/

.sect-main-search{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "logoB logoB logoB "
        "search categoria userBuy"
        "nav nav nav";
}

.icon-user-buy{
    grid-area: userBuy;
    text-align: center;
}

.logo{
    text-align: center;
}

.main-input{
    display: grid;
    justify-content: center;
}

.nav-ul-select{
    justify-content: center;
}

/* Seccion Mural */

.sect-mural{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 111px 90px;
    grid-template-areas: 
        "img"
        "Titulo"
        "button";
    justify-items: center;
}

.sect-mural h1{
    margin-top: 10px;
}

/* Seccion Articulos Promocionales */

.sect-articlesPromocionales{
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "enfermera enfermera"
        "cremas cremas"
        "topProducts topProducts";
    align-items: center;
    gap: 10px 0;
}

/* seccion productos */

.sect-ariclesProductos{
    position: relative;
    margin-right: 100px;
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
        "Vichy1" 
        "Bllue"
        "Sphygmomanometer"
        "topProducts2"
        "Vichy2"
        "brand"
        "fresh"
        "loadMore"
        "atenCliente"
        "atenCliente"
        "atenCliente";
}

/****** Footer ******/

footer{
    margin: 100px 100px 0 100px;
}