.section-contacto , .section-nav{
    margin: 0 0;
    text-align: center;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "contacto"
        "navegacion";
}

.nav-header{
    margin-top: 10px;
    justify-content: center;
}

/****** MAIN ******/

/****** Seccion Search ******/

.sect-main-search{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "logoB logoB logoB "
        "search categoria userBuy"
        "nav nav nav";
}

.icon-user-buy{
    grid-area: userBuy;
    text-align: center;
}

.logo{
    text-align: center;
}

.main-input{
    display: grid;
    justify-content: center;
}

.nav-ul-select{
    justify-content: center;
}